.item-card-dash {
   display: flex;
   border-color: rgba(245, 245, 245, 0.288);
   border-width: 0.02px;
   border-style: groove;
   margin-top: 20px;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   height: fit-content;
  }

.card-row-item {
    display: flex;
    vertical-align: middle;
}

