.item-card {
   display: flex;
   border-color: rgba(245, 245, 245, 0.288);
   border-width: 0.02px;
   border-style: groove;
   margin-top: 10px;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   border-radius: 0;
   height: fit-content;
  }

.card-row {
    display: flex;
    vertical-align: middle;
    margin-left: 20;
}

